.App {
  text-align: center;
  display: block;
}

.body {
  justify-content: center;
  text-align: center;
  margin-top: 20px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Clisent {
  background-color: rgb(49, 124, 189);
}

.form_login {
  background-color: #282c34;
  width: 300px;
  height: 400px;
  display:inline-block;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 40px;
}

.input_login {
  height: 80px;
  margin-top: 20px;
  display:block;
}

.phone {
  width: 200px;
  height: 25px;
  margin-top: 10px;
  border-radius: 50px;
  text-align: center;
  background-color: #C5CFD0;
}

.password {
  width: 200px;
  height: 25px;
  margin-top: 2px;
  border-radius: 50px;
  text-align: center;
  background-color: #C5CFD0;
}

.handleSubmit {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: #C5CFD0;
  border: #282c34;
  border-radius: 50px;
}

.error{
color: #C5CFD0;
}

.form_movie{
  text-align: center;
  justify-content: center;
  display: flex;
}

.App_movie{
  text-align: center;
  display: flex;
  justify-content: center;
}

.movie{
  background-color: #282c34;
  width: 300px;
  height: 400px;
  color: #C5CFD0;
border-radius: 50px;
}